<div class="admin">
    <div ng-include="'/ngApp/views/admin/admin-nav.html'"></div>
    <table class="table table-striped table-hover table-bordered">
        <thead>
            <tr>
                <th colspan="2"><h3>Groups</h3></th>
                <td colspan="3" align="right">
                    
                    <form class="form-inline" ng-submit="c.addGroup()">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="New Group Name Here" ng-model="c.newGroup.name" />
                        </div>
                        <div class="form-group">
                            <select class="form-control" ng-model="c.newGroup.id">
                                <option selected>Select A Type</option>
                                <option ng-repeat="type in c.typesList | orderBy: 'name' | orderBy: 'isAdmin'" value="{{type.id}}">{{type.name}}</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Add Group" class="btn btn-default" />
                        </div>
                    </form>
                </td>
            </tr>
            <tr>
                <th>Active</th>
                <th>Name</th>
                <th>Type</th>
                <th></th>
                <th class="text-right">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="group in c.groupsList | orderBy: 'name' | orderBy: 'groupType' | orderBy: '-isActive'">
                <td class="col-lg-1">{{group.isActive}}</td>
                <td class="col-lg-3">
                    <div role="tabpanel" class="" id="typeDisplay{{group.id}}" aria-labelledby="typeParent{{group.id}}">
                        {{group.name}}
                    </div>
                </td>
                <td class="col-lg-2">
                    {{group.type.name}}
                </td>
                <td></td>
                <td class="text-right">
                    <a data-toggle="collapse" href="#typeEdit{{group.id}}" aria-expanded="false" aria-controls="type{{group.id}}"><i class="fa fa-pencil-square-o text-success" aria-hidden="true"></i></a> |
                    <a href="#" ng-click="c.deleteGroup(group.id)"><i class="fa fa-trash text-danger" aria-hidden="true"></i></a>
                </td>
            </tr>
        </tbody>
    </table>
</div>