@import url(toggle-switch.css);
@import url(bootstrap-overrides.css);

body {
    background-image: url('../images/background.jpg');
    background-attachment: fixed;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    background-color: white;
    height: 100%;
}

.logo{ 
    background-image: url('../images/MystsofEyr_Logo_wide.png'); 
    height: 200px; background-color: #051F14; 
    background-repeat: no-repeat; 
    background-position: top center;
}

.homePanel {width: 100%; }
.adminglyphies { font-size: 1.25em; margin-left: 10px; }
.achievelistToken { width: 25px; height: 25px; margin: 0 10px 0 0; }
.unlocked { font-style: italic; margin: 10px 0; border-top: 1px dashed #ddd; padding-top: 10px; }
.achievementValue { margin-left: 20px; font-size: .98em; }
.profilePanel {
    width: 100%;
    border: none;
    background-color: #fff;
}
.profilePanel .heading {
    width: 100%;
    border-bottom: 1px dashed #5e7a42;
    margin-bottom: 10px;
}
.falseActiveCharacter { color: #808080; text-decoration: line-through; }
.trueActiveCharacter { color: #000; text-decoration: none; }


.panelCollection { list-style: none; padding: 0; margin: 0; }

.rewardlistToken { width: 30px; height: 30px; }
.rewardHeader { background-color: #29796a; color: white; }
.rewardHeader2 { background-color: #379f8c; color: white; }
.rewardHeader h3, .rewardHeader2 h4 { color: white; text-align: center; margin: 0; padding: 0; }
.rewardHeader2 h4{ padding: 10px 0; }

.userListImage { width: 50px; margin-right: 10px; }

.offImage { margin-right: 30%; }

.homePanel .panel-heading {
    border-bottom: 2px solid #5e7a42;
    background-color: #f5f5f5;
}
.homePanel .panel-footer {
    border-top: 2px solid #5e7a42;
}
.homePanel .list-group-item {
    border: 1px dotted #c8d8b8;
}

.animate-container {
  list-style:none;
  margin:0;
  padding:0 10px;
}

.animate-repeat {
  line-height:30px;
  list-style:none;
  box-sizing:border-box;
}

.animate-repeat.ng-move,
.animate-repeat.ng-enter,
.animate-repeat.ng-leave {
  transition:all linear 0.5s;
}

.animate-repeat.ng-leave.ng-leave-active,
.animate-repeat.ng-move,
.animate-repeat.ng-enter {
  opacity:0;
  max-height:0;
}

.animate-repeat.ng-leave,
.animate-repeat.ng-move.ng-move-active,
.animate-repeat.ng-enter.ng-enter-active {
  opacity:1;
  max-height:30px;
}

.animate-show-hide.ng-hide {
  opacity: 0;
}

.animate-show-hide.ng-hide-add,
.animate-show-hide.ng-hide-remove {
  transition: all linear 0.5s;
}
