.logo{ 
    background-image: url('../images/MystsofEyr_Logo_wide.png'); 
    height: 200px; background-color: #051F14; 
    background-attachment: fixed; background-repeat: no-repeat; 
    background-position: top center;
}

.navbar-left, .navbar-right { color: white; }
.navbar-right { margin-right: 20px; }
.navbar-left { margin-left: 20px; }
.navbar-left a, .navbar-right a {color: #ddd; }
.container { background-color: white; height: 100%; border-left: 1px solid #ddd; border-right: 1px solid #ddd; }
.panel { width: 25%; float: left; }
.adminglyphies { font-size: 1.25em; margin-left: 10px; }
.achievelistToken { width: 25px; height: 25px; margin: 0 10px 0 0; }
.unlocked { font-style: italic; margin: 10px 0; border-top: 1px dashed #ddd; padding-top: 10px; }

.panelCollection { list-style: none; padding: 0; margin: 0; }
.panel a { text-decoration: none; color: #000; }
.rewardlistToken { width: 30px; height: 30px; }
.rewardHeader { background-color: #29796a; color: white; }
.rewardHeader2 { background-color: #379f8c; color: white; }
.rewardHeader h3, .rewardHeader2 h4 { color: white; text-align: center; margin: 0; padding: 0; }
.rewardHeader2 h4{ padding: 10px 0; }