<div id="loggedIn">
    <div class="lead">
        Welcome, {{account.getUserName()}}! Here is a list of your currently unlocked acheivements and purchased rewards!

    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="panel homePanel">
                <div class="panel-heading"><h4>Claimed Achievements</h4></div>
                <div class="panel-body">
                    <ul class="list-group">
                        <li class="list-group-item grad" ng-repeat="achievement in c.achievementList">
                            <img src="/images/token.png" class="achievelistToken" /><a ng-href="/achievements#{{achievement.id}}">{{achievement.title}}</a>
                        </li>
                    </ul>
                </div>
                <div class="panel-footer">
                    Want to add more to this list? Check the <a href="/achievements">list of achievements</a> to see what else you can unlock!
                </div>
            </div>
        </div>

        <div class="col-lg-6">
            <div class="panel homePanel">
                <div class="panel-heading"><h4>Purchased Rewards</h4></div>
                <div class="panel-body">
                    <ul class="list-group">
                        <li class="list-group-item grad" ng-repeat="reward in c.rewardList">
                            <a ng-href="/rewards/{{reward.id}}"><img ng-src="{{reward.image}}" class="userListImage" /> {{reward.title}}</a>
                        </li>
                    </ul>
                </div>
                <div class="panel-footer">
                    Want to add more to this list? Check the <a href="/rewards">list of rewards</a> to see what else you can purchase!
                </div>
            </div>
        </div>
    </div>
</div>
