<div>
    <ul class="breadcrumb">
        <li><a href="/rewards">Rewards</a></li>
        <li class="active">Reward Details</li>
        <li><a href="/rewards/admin/add">Add A Reward</a></li>
    </ul>
</div>

<h2>Token Reward: {{c.reward.title}}</h2>
<div class="clearfix">
    <a ng-href="/rewards/admin/delete/{{c.reward.id}}" class="pull-right text-danger"><span class="glyphicon glyphicon-remove-circle adminglyphies"></span></a>
    <a ng-href="/rewards/admin/edit/{{c.reward.id}}" class="pull-right"><span class="glyphicon glyphicon-edit adminglyphies"></span></a>
    <img ng-src="{{c.reward.image}}" class="pull-right" />
    <h4>Token Cost: {{c.reward.price}}Token(s)</h4>
    <p><strong>Amount: </strong>{{c.reward.mass}}</p>
    <p ng-if="c.reward.restrictions != ''"><strong>Restriction Level: </strong>{{c.reward.restrictions}} (<a href="http://mystsofeyr.com/index.php/lore2/controlled-substances-in-eyr" target="_blank">Find out more about restriction levels</a>.)</p>
    <p><strong>Description:</strong>{{c.reward.description}}</p>
    <p ng-if="c.reward.limitations != ''"><strong>Item Limitations: </strong>{{c.reward.limitations}}</p>
    <p ng-if="c.reward.useSamples != ''"><strong>Usage Ideas: </strong>{{c.reward.useSamples}}</p>
    <p ng-if="c.reward.history != ''"><strong>A Little History: </strong>{{c.reward.history}}</p>

    <h6>If you have any questions about the {{c.reward.title}} item and it's use, please contact the Mysts of Eyr admins!</h6>
</div>