<div class="list-group profilePanel" id="characterList" role="tablist" aria-multiselectable="true">
    <div class="heading" id="pcListHeading">
        <h4>My Characters</h4>
    </div>
    <div>
        <ul class="list-group animate-container">
            <li class="list-group-item animate-repeat" ng-repeat="character in c.characterList | orderBy: '-isActive'" ng-if="character.isNpc == false">
                <label class="switch characterSlide"><input type="checkbox" ng-model="character.isActive" ng-change="c.toggleCharacterActive(character.id)" /><div class="slider round"></div></label> 
                <span class="{{character.isActive}}ActiveCharacter">{{character.name}}</span>
                
            </li>
        </ul>
    </div>
    <div id="addCharacter" class="animate-show-hide" ng-hide="c.characterList.length >= c.charactersAllowed">
        <form ng-submit="c.addCharacter()">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Add Character Name Here" aria-describedby="addCharacterSubmit" ng-model="c.character" />
                <span class="input-group-btn">
                    <input type="submit" class="btn btn-default" value="Add" />
                </span>
            </div>
        </form>
    </div>

    <div class="heading" id="npcListHeading">
        <h4>My NPCs</h4>
    </div>
    <div>
        <ul class="list-group animate-container">
            <li class="list-group-item animate-repeat" ng-repeat="character in c.characterList | orderBy: '-isActive'" ng-if="character.isNpc == true">
                <label class="switch characterSlide"><input type="checkbox" ng-model="character.isActive" ng-change="c.toggleCharacterActive(character.id)" /><div class="slider round"></div></label>
                <span class="{{character.isActive}}ActiveCharacter">{{character.name}}</span>

            </li>
        </ul>
    </div>
    <div id="addNPC">
        <form ng-submit="c.addNPC()">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Add NPC Name Here" aria-describedby="addNPCSubmit" ng-model="c.npc" />
                <span class="input-group-btn">
                    <input type="submit" class="btn btn-default" value="Add" />
                </span>
            </div>
        </form>
    </div>
</div>
